<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
        layout:decorate="~{layouts/layout}"
>
<head>
</head>
<body>
<div layout:fragment="content">
    <div class="container form-container">
        <div class="row">
            <div class="col-md-6 form_area">
                <h1>CREATE STORE</h1>
                <form th:object="${store}" th:action="@{new-store}" method="post">
                    <div class="form-group">
                        <input class="form-control" type="text" id="name" th:field="*{name}" placeholder="Store Name">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" id="description" th:field="*{description}" placeholder="店舗を紹介してください。">
                    </div>
                    <div class="form-group">
                        <input class="btnSubmit" type="submit" value="Submit">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>