<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/config :: configFragment">
    <meta charset="UTF-8">
    <title>Recipe Note</title>
</head>
<body>
    <header layout:replace="~{fragments/header :: headerFragment}"></header>
    <main>
    <div layout:fragment="content"></div>
    </main>
    <footer layout:replace="~{fragments/footer :: footerFragment}"></footer>

</body>
</html>