@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// custom variables
@import "variables";

// load bootstrap
@import '~bootstrap/scss/bootstrap';

header{
    margin-bottom: 50px;
    font-weight: 650;
}

.form-container{
    margin-top: 5%;
    margin-bottom: 5%;
    form{
    padding: 10%;
    }
}
.form_area {
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    float: none;
    margin:0 auto;
    h3 {
        text-align: center;
        color: #333;
    }

}
.recipe-form{
    padding: 5%;
    float: none;
    margin:0 auto;
    .row{
    padding: 10px;
    margin: 10px;
    }
}
.btnSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
    font-weight: 600;
    color: #fff;
    background-color: #0062cc;
}
