<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <div class="row row-cols-1">
            <div class="col">
                <h3 th:text="#{affiliates.manage-store}">매장 관리</h3>
            </div>
            <div class="col mt-2">
                <ul class="list-group" th:each="store : ${list}">
                    <li class="list-group-item"><a class="page-link" th:href="@{/store-detail(id=${store.id})}"
                                                   th:text="*{store.name}"></a></li>
                </ul>
            </div>
            <div class="col mt-2">
                <a class="btn btn-primary" th:href="@{/create-store}" th:text="#{affiliates.manage-store.new}"></a>

            </div>
        </div>


    </div>
</div>
</body>
</html>