<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <th:block layout:fragment="css">
        <style>
            .user-list img {
                width: 50px;
                height: 50px;
            }
        </style>
    </th:block>
</head>
<body>
<div layout:fragment="content">
    <div class="container">

        <h3 th:text="#{affiliate.manage-user}">유저관리</h3>

        <div class="container">
            <h3 th:text="#{affiliates.manage-user.userList}">유저 리스트</h3>
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                    </tr>
                </thead>
                <tbody>
                <tr class="user-list" th:if="${!#lists.isEmpty(list)}"
                    th:each="user : ${list}">
                    <td><img class="img-thumbnail" th:src="${user.avatarUrl}" alt=""></td>
                    <td><span th:text="${user.name}"></span></td>
                    <td><span th:text="${user.email}"></span></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="container">
            <button class="btn btn-primary" type="button" data-toggle="collapse"
                    data-target="#collapseExample"
                    aria-expanded="false" aria-controls="collapseExample"
                    th:text="#{affiliates.manage-user.addMember}">

            </button>
            <div class="collapse" id="collapseExample">
                <div class="card card-body">
                    <form th:action="@{/new-member}" method="get">
                        <input class="form-control" type="text" id="search-modal" th:placeholder="#{affiliates.manage-user.search}" required>
                        <div id="member-info">
                            <div class="form-group">
                                <div class="image-wrapper avatar-wrapper">
                                    <img id="member_avatar" class="profile-pic" src="/images/default-user-image.png"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="member_email">EMAIL</label>
                                <h4 id="member_email"></h4>
                            </div>
                            <div class="form-group">
                                <label for="member_name">NAME</label>
                                <h4 id="member_name"></h4>
                            </div>
                        </div>
                        <input type="hidden" name="memberId" id="member_id">
                        <input type="submit" class="btn btn-primary d-block" th:value="#{affiliate.manage-user.submit}" >
                        <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="modalLabel" th:text="#{affiliates.manage-user.search}">유저 검색</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="input-group mb-3">
                                            <input type="email" class="form-control" id="search-input"
                                                   placeholder="example@example.*">
                                            <div class="btn btn-outline-secondary" type="button"
                                                 id="search-btn" aria-describedby="button-addon2"><i
                                                    class="fa fa-search"></i></div>
                                        </div>
                                        <div class="row result-item">

                                        </div>
                                        <div class="modal-footer">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <a class="btn btn-info mt-2" href="/register-member" th:text="#{affiliates.manage-user.regist-member}"></a>
            </div>
        </div>

    </div>
    <script src="/scripts/userListModal.js"></script>
</div>
</body>
</html>