<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block layout:fragment="css">
        <style>
        </style>
    </th:block>

</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col-md-3 card-wrapper">
                <div class="card">
                    <img class="card-img img-sm mx-auto" th:if="${recipe.thumbnailPath != null}"
                         th:src="${recipe.thumbnailPath}">
                    <img class="card-img img-sm mx-auto" th:if="${recipe.thumbnailPath == null}"
                         th:src="@{/images/nullThumbnailRecipe.png}">
                    <div class="card-body">
                        <div class="card-title">
                            <span th:text="${recipe.name}"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col table-responsive ">
                <table class="table table-sm">
                    <thead>
                    <tr>
                        <th scope="col">名</th>
                        <th scope="col">量(g)</th>
                        <th scope="col">価格(円)</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="ingredient : ${list}">
                        <td th:text="${ingredient.getIngredient().name}"></td>
                        <td th:text="${ingredient.amount}"></td>
                        <td class="price" th:if="${ingredient.amount != null}"
                            th:text="${T(Math).round(ingredient.amount*ingredient.getIngredient().price*1000)}/1000">0</td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="2">Total</td>
                        <td><span id="total_price"></span><span>  円</span></td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <div class="row row-cols-1">
            <div id="description">
            </div>
        </div>
        <div class="row" id="readOnly"></div>
    </div>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var str = /*[[${recipe.content}]]*/;
        document.getElementById('description').innerHTML = str;
        var total = 0;
        var price = document.querySelectorAll(".price");
        for (var p of price) {
            total += parseFloat(p.textContent);

        }
        document.getElementById('total_price').textContent = total;
        /*]]>*/
    </script>
    <script src="/scripts/ckeditor.js"></script>
</div>
</body>
</html>