<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/layout}">

<head>
    <th:block layout:fragment="script">
        <script th:src="@{ckeditor5-32.0.0/build/ckeditor.js}"></script>
        <!--        <script th:src='@{//unpkg.com/jquery@3/dist/jquery.min.js}'></script>-->
        <!--        <script th:src='@{//unpkg.com/popper.js@1/dist/umd/popper.min.js}'></script>-->
        <!--        <script th:src='@{//unpkg.com/bootstrap@4/dist/js/bootstrap.min.js}'></script>-->
        <!--        <script th:src="@{https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js}"></script>-->
    </th:block>
    <th:block layout:fragment="css">
        <style>
            .ck-editor__editable{
                min-height: 500px





        </style>

        <!--        <link th:href="@{https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css}"-->
        <!--              rel="stylesheet">-->
    </th:block>
    <meta charset="UTF-8">
    <title>Recipe</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container-xl form-container">
            <label class="label image-wrapper" data-toggle="tooltip" title="Thumbnail Image">
                <img class="rounded profile-pic" id="avatar" th:src="@{/images/nullThumbnailRecipe.jpg}"
                     alt="avatar">
                <div class="upload-button">
                    <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
                </div>
                <input type="file" class="sr-only file-upload" id="input" name="image" accept="image/*">
            </label>

            <div class="alert" role="alert"></div>
            <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalLabel">Crop the image</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="img-container">
                                <img id="image" th:src="@{/images/nullThumbnailRecipe.jpg}">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-primary" id="crop">Crop</button>
                        </div>
                    </div>
                </div>
            </div>

        <form class="recipe-form" th:action="@{/create-recipe}" th:object="${form}" method="post"
              enctype="multipart/form-data">
            <input type="hidden" id="image-path" th:field="*{thumbnailPath}" value="">
            <div class="form-group">
                <label for="recipe_name"><h3>Title</h3></label>
                <input class="form-control" type="text" id="recipe_name" th:field="*{name}">
            </div>
            <div class="form-group">
            <textarea class="form-control" id="editor" th:field="*{content}">
                </textarea>
            </div>
            <th:block sec:authorize="hasRole('ROLE_USER')">
                <hr>
                <div class="row">
                    <h4>Is public</h4>
                    <div class="col-md-6">
                        <input class="toggle-btn" type="checkbox" checked data-toggle="toggle" width="30" data-size="lg"
                               data-on="<i class='fa fa-lock-open'></i>" data-off="<i class='fa fa-lock'></i>"
                               data-onstyle="success" data-offstyle="danger"
                               value="false" th:field="*{isPublic}">
                    </div>
                </div>
                <div class="row">
                    <h4>Store</h4>
                    <div class="col-md-2 btn-group btn-group-toggle" data-toggle="buttons"
                         th:each="store : ${storeList}">
                        <label class="btn btn-secondary" for="${store.id}"><span th:text="${store.name}"></span>
                            <input type="radio" name="options" th:value="${store.id}" id="${store.id}"
                                   th:field="*{storeId}"></label>
                    </div>
                </div>
            </th:block>
            <div class="row" style="float: none; margin:100 auto;">
                <input class="col-md-3 btnSubmit" type="submit" value="submit"
                       style="float: none; margin:0 auto;">
            </div>
        </form>

    </div>
    <script src="/scripts/cropper.js"></script>
    <script>
            ClassicEditor
                .create( document.querySelector( '#editor' ),{
                    simpleUpload: {
                        uploadUrl: '/upload-image',
                        withCredintials: true
                    }
                })
                .catch( error => {
                    console.error( error );
                } );





    </script>
</div>
</body>
</html>