<!DOCTYPE html>
<html
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <footer layout:fragment = "footerFragment">
        <div class="container-fluid">
                <hr>
            <div class="row text-center">
                <div class = "col">
                <span id="footer__text"></span>
                <span>  &copy;</span>
                </div>
            </div>
        </div>
        <script>
            var footerText = document.getElementById("footer__text");
            footerText.innerText =   "recipe note  " + new Date().getFullYear();
        </script>
    </footer>
</body>
</html>