<!DOCTYPE html>
<html
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <footer layout:fragment = "footerFragment">
        <nav>
            <div class = "container">
                <hr>
                <span id="footer__text"></span>
                <span>  &copy;</span>
            </div>
        </nav>
        <script>
            var footerText = document.getElementById("footer__text");
            footerText.innerText =   "recipe note  " + new Date().getFullYear();
        </script>
    </footer>
</body>
</html>