<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div class="recipe-index-wrapper" th:fragment="recipeList">

    <div class="container">
        <h2>Recipe List</h2>
        <div class="row">
            <div class="col-md-3" th:each="recipe : ${list}">
                <img th:if="${recipe.thumbnailPath != null}" th:src="${recipe.thumbnailPath}" class="img-thumbnail recipe-thumbnail"/>
                <img th:if="${recipe.thumbnailPath == null}" th:src="@{/images/nullThumbnailRecipe.jpg}" class="img-thumbnail recipe-thumbnail"/>
                <div class="col"><a href="/recipe-detail" th:href="@{/recipe-detail(id=${recipe.id})}">
                    <h3 class="title" th:text="${recipe.name}"></h3>
                </a></div>
                <div class="col" th:text="${recipe.storeName}"> //</div>
                <div class="col" th:text="${recipe.userName}"></div>
            </div>
        </div>
    </div>

</div>
</body>
</html>