<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <th:block layout:fragment="css">
        <style>

        </style>
    </th:block>
</head>
<body>
<div class="recipe-index-wrapper" th:fragment="recipeList">

    <div class="container">
        <h2>Recipe List</h2>
        <div class="row">
            <div class="col-md-3 card-wrapper" th:each="recipe : ${list}">
                <div class="card">
                    <a href="/recipe-detail" th:href="@{/recipe-detail(id=${recipe.id})}">
                        <img th:if="${recipe.thumbnailPath != null}" th:src="${recipe.thumbnailPath}"
                             class="card-img"/>
                        <img th:if="${recipe.thumbnailPath == null}" th:src="@{/images/nullThumbnailRecipe.png}"
                             class="card-img"/> </a>

                    <div class="card-body">
                        <div class="card-title"><span th:text="${recipe.name}" style="font-size: 1em"></span></div>
                        <div class="card-subtitle"><i class="fas fa-store mx-auto"></i><a class="ml-3 btn btn-secondary btn-sm" th:if="${recipe.getStore() != null}"
                                                                              th:href="@{/store-detail(id=${recipe.getStore().getId})}" th:text="${recipe.getStore().name}"></a>
                        </div>
                        <div class="card-subtitle"><i class="fas fa-user mx-auto"></i><span class="ml-3" th:if="${recipe.getUser() != null}"
                                                                                th:text="${recipe.getUser().name}"></span>
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item" th:each="page : ${#numbers.sequence(0, totalPage -1)}">
                    <a class="page-link" th:href="@{/recipes(page=${pageStat.index})}"
                       th:text="${pageStat.index + 1}"></a>
                </li>
            </ul>
        </nav>

    </div>

</div>
</body>
</html>