<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">>
<head>
    <meta charset="UTF-8">
    <title>Join</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container form-container">
        <div class="row">
            <div class="col-md-6 form_area">
                <main>
                    <h3>Sign in</h3>
                    <form th:action="@{/join}" th:object="${form}" method="post">
                        <div class="form-group">
                            <input class="form-control" placeholder="Name"  type="text" th:field="*{name}" id="user_name">
                        </div>
                        <div class="form-group">
                            <input class="form-control" placeholder="Email"  type="email" th:field="*{email}" id="user_email">
                        </div>
                        <div class="form-group">
                            <input class="form-control" placeholder="Password"  type="password" th:field="*{password}" id="user_password">
                        </div>
                        <div class="form-group">
                            <input class="form-control" placeholder="Password Confirmation"  type="password" th:field="*{passwordConfirmation}" id="user_passwordConfirmation">
                        </div>
                        <div class="form-group">
                            <input class="btnSubmit" type="submit" value="submit">
                        </div>
                    </form>
                </main>
            </div>
        </div>
    </div>

</body>
</html>