<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">>
<head>
    <meta charset="UTF-8">
    <title>Join</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="form-container">
            <main>
                <h1>sign in</h1>
                <form th:action="@{/join}" th:object="${form}" method="post">
                    <label class="form-label" for="user_name">name</label>
                    <input type="text" th:field="*{name}" id="user_name">
                    <label class="form-label" for="user_email">email</label>
                    <input type="email" th:field="*{email}" id="user_email">
                    <label class="form-label" for="user_password">password</label>
                    <input type="password" th:field="*{password}" id="user_password">
                    <label class="form-label" for="user_passwordConfirmation">passwordConfirmation</label>
                    <input type="password" th:field="*{passwordConfirmation}" id="user_passwordConfirmation">
                    <input type="submit" value="submit">
                </form>
            </main>
        </div>

    </div>

</body>
</html>