<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}"
>
<head>
    <meta charset="UTF-8">
    <title>LogIn</title>
    <th:block layout:fragment="css">
    </th:block>
</head>
<body>
<div layout:fragment="content">
    <div class="container form-container">
        <div class="row">
            <div class="col-md-6 form_area">
                <h3>Log In</h3>
                <form th:action="@{/login}" method="post">
                    <div class="form-group">
                        <input class="form-control" placeholder="Email *" type="email" name="username" id="session_email">
                    </div>
                    <div class="form-group">
                        <input class="form-control" placeholder="Password *" type="password" name="password" id="session_password">
                    </div>
                    <div class="form-group">
                        <input class="btnSubmit" type="submit" value="submit">
                    </div>
                </form>
                <a th:href="@{/oauth2/authorization/line}">Line 로그인</a>

            </div>
        </div>


    </div>
</body>
</html>
