<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}"
>
<head>
    <meta charset="UTF-8">
    <title>LogIn</title>

<body>
<div layout:fragment="content">
    <div class="container form-container">
        <div class="row">
            <div class="col-md-6 form_area login-form">
                <h3 th:text="#{header.login}">Log In</h3>
                <form th:action="@{/login}" method="post">
                    <div class="form-group">
                        <input class="form-control" placeholder="Email *" type="email" name="username"
                               id="session_email">
                    </div>
                    <div class="form-group">
                        <input class="form-control" placeholder="Password *" type="password" name="password"
                               id="session_password">
                    </div>
                    <div class="form-group">
                        <input class="btnSubmit" type="submit" th:value="#{header.login}">
                    </div>
                </form>
                <a class="btn btn-sm btn-secondary social-login line-login" th:href="@{/oauth2/authorization/line}">
                    <i class="fab fa-line fa-inverse fa-2xl"></i><span th:text="#{lineLogin}"></span>
                </a>

            </div>
        </div>


    </div>
</body>
</html>
